### swaping integers

In [1]:
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print(a)
print(b)

5
7
7
5

### table

In [3]:
n=int(input())
print(n)
for i in range(1,11):
    print(n,"x",i,"=",n*i)

5
5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

==>list

In [37]:
l=[1,2,3,4,5,'a','b','c',(1,2,3,4,5)]
type(l)

list

In [38]:
l=[1,2,3,4,5,'n','a','n','i',(1,)]2,3,4,5
print(l)

[1, 2, 3, 4, 5, 'n', 'a', 'n', 'i', (1, 2, 3, 4, 5)]

In [39]:
l=[1,2,3,4,5,6,'n','a','n','i']
print(l[0:10])

[1, 2, 3, 4, 5, 6, 'n', 'a', 'n', 'i']

In [43]:
l=['n','a','n','i',1,2,3,4,]
print(l[:-9:-1])

[4, 3, 2, 1, 'i', 'n', 'a', 'n']

In [44]:
dir (list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
s="nani"
s[3]

'i'

In [52]:
s="nani"
r=s[::-1]
if r==s:
    print("pal")
else :
    print("not pal")

not pal

In [58]:
l=[11,22,333,444]
for i in l:   
    print(i)

11
22
333
444

In [59]:
l="nani"
for s in l:
    print(s)

n
a
n
i

In [72]:
n=[1,2,3,4,5,6,7,8,9,10]
for i in n:
    if i%2==0:
        print("even",i)
    else :
        print("odd",i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

###ascending and decending

In [3]:
a=int(input())
p=[]
for i in range(a):
    n=int(input())
    p.append(n)
p.sort()
print(p)
p.reverse()
print(p)

4
65
76
98
67
[65, 67, 76, 98]
[98, 76, 67, 65]

###